<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a2f4ec">  <td>20/02/06 21:15:48</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeTest()[pri:0, instance:com.NewTours.Testscripts.NewTest@78ffe6dc]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1716093734</td>   <td></td> </tr>
<tr bgcolor="a2f4ec">  <td>20/02/06 21:15:58</td>   <td>10295</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.Login()[pri:1, instance:com.NewTours.Testscripts.NewTest@78ffe6dc]">Login</td> 
  <td>main@1716093734</td>   <td></td> </tr>
<tr bgcolor="a2f4ec">  <td>20/02/06 21:17:04</td>   <td>76576</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.BookingFlight()[pri:2, instance:com.NewTours.Testscripts.NewTest@78ffe6dc]">BookingFlight</td> 
  <td>main@1716093734</td>   <td></td> </tr>
<tr bgcolor="a2f4ec">  <td>20/02/06 21:17:18</td>   <td>90646</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.ConfirmMessageCheck()[pri:3, instance:com.NewTours.Testscripts.NewTest@78ffe6dc]">ConfirmMessageCheck</td> 
  <td>main@1716093734</td>   <td></td> </tr>
<tr bgcolor="a2f4ec">  <td>20/02/06 21:17:32</td>   <td>104671</td> <td>&nbsp;</td><td title="&lt;&lt;NewTest.afterTest()[pri:0, instance:com.NewTours.Testscripts.NewTest@78ffe6dc]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1716093734</td>   <td></td> </tr>
</table>
